/* tailwind config file */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* tailwind config file */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111827;
}

.container{
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}